[phases.setup]
nixPkgs = ['nodejs', 'pnpm']

[phases.install]
cmds = ['corepack enable', 'cd /app/apps/api && pnpm install --no-frozen-lockfile --ignore-workspace']

[phases.build]
cmds = ['cd /app/apps/api && pnpm run build']

[start]
cmd = 'cd /app/apps/api && node dist/main.js'
