[phases.setup]
nixPkgs = ['nodejs', 'pnpm']

[phases.install]
cmds = ['corepack enable', 'cd /app/apps/api && pnpm install --no-frozen-lockfile']

[phases.build]
cmds = ['cd /app/apps/api && pnpm run build']

[start]
cmd = 'pnpm run start --filter=@propintel/api'
